@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'bebas neue',sans-serif;
}
@media screen and (max-width: 768px) {
    .conteudo-social {
        padding-top: 0.3%;
    }
    .menu-header {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(0, 0, 0, 0.90);
        position: absolute;
        top: 80px;
        left: 0;
        height: 300px;
        width: 100%;
    }
    .titulo-senai {
        font-size: 42px;
    }
    .menu-barras {
        display: initial;
    }
    #icone-menu {
        color: white;
        font-size: 30px;
    }
    .banner {
        background-image: url(../img/imagem-fundo-ranking.jpg);
    }
    .imagem-sobre {
        width: 100%;
    }
    .texto-sobre {
        width: 100%;
        height: unset;
    }
    .conteudo-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 480px;
        justify-content: space-between;
    }
    .conteudo-sobre {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .menu-header {
        display: flex !important;
    }
}